body {
  background-color: #a74444; }

#rectangulo1 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo2 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo3 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo4 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo5 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo6 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo7 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo8 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo9 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo10 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo11 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo12 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo13 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo14 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo15 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo16 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo17 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo18 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo19 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo20 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo21 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo22 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo23 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo24 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo25 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo26 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo27 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo28 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo29 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo30 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo31 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo32 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo33 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo34 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo35 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo36 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo37 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo38 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo39 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo40 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo41 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo42 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo43 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo44 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo45 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo46 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo47 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo48 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo49 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo50 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo51 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo52 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo53 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo54 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo55 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo56 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo57 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo58 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo59 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo60 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo61 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo62 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo63 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo64 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo65 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo66 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo67 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo68 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo69 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo70 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo71 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo72 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo73 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo74 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo75 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo76 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo77 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo78 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo79 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo80 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo81 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo82 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo83 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo84 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo85 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo86 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo87 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo88 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo89 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo90 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo91 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo92 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo93 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo94 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo95 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo96 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo97 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo98 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo99 {
  background-color: green;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

#rectangulo100 {
  background-color: blue;
  width: 300px;
  height: 40px;
  border-radius: 94px;
  background: #a74444;
  box-shadow: inset 7px 7px 14px #5a2525, inset -7px -7px 14px #f46363;
  margin: auto;
  margin-top: 15px; }

/*# sourceMappingURL=estilo.css.map */
