body{
    background: blue;
}
.imagen1{
    height: 100px;
    width: 200px;
    margin: 2px;
    background-color: red;
}
.imagen2{
    height: 100px;
    width: 200px;
    margin: 2px;
    background-color: red;
}
.imagen3{
    height: 100px;
    width: 200px;
    margin: 2px;
    background-color: red;
}
.imagen4{
    height: 100px;
    width: 200px;
    margin: 2px;
    background-color: red;
}