div{
    width: 120px;
    height: 180px;
    position: relative;
    top: 100px;
    left: 300px;
    background:red;
    transition: all 5s;
}
div:hover{
    transform: rotate(7000deg) scale(2);
    background: orange;
    width: 300px;

}